.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  row-gap: 30px;
}

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media (max-width: 380px) {
  .tabs__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 550px) {
  .tabs__item {
    width: 100%;
  }
}

.tabs__btn {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .tabs__btn:hover {
    background-color: #ea87fa;
  }
}

@media (max-width: 550px) {
  .tabs__btn {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .tabs__btn {
    padding: 10px 14px;
    border-radius: 6px;
  }
}

.tabs__btn_active {
  background-color: #ea87fa;
  color: #fff;
}

@media (any-hover: hover) {
  .tabs__btn_active:hover {
    background-color: #b668c2;
  }
}

.tabs__content {
  display: none;
  color: #000;
}

.tabs__content_active {
  display: block;
}
