@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");

$mainColor: #3a3a3a;
$borderColor: #f56cffc0;
$redColor: #ff320e;

body {
	font-family: "Inter", sans-serif;
	font-size: 24px;
	color: $mainColor;
	@media (max-width: 480px) {
		font-size: 18px;
	}
}

[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
//========================================================================================================================================================
.weather {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;
	padding: 30px 0px;
	background: linear-gradient(#aea4e3, #d3ffe8);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	// .weather__title

	&__title {
		display: flex;
		align-items: center;
		text-align: center;
		font-size: 42px;
		font-weight: 700;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		@media (max-width: 480px) {
			font-size: 32px;
		}
		@media (max-width: 400px) {
			display: block;
		}
		&::after {
			content: "";
			display: block;
			margin: 0 auto;
			width: 45px;
			height: 45px;
			background: url("../img/icons/sun.svg") 0 0 / cover no-repeat;
			@media (max-width: 480px) {
				width: 35px;
				height: 35px;
			}
		}
	}

	// .weather__desc

	&__desc {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: 70px;
		}
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		@media (max-width: 480px) {
			font-size: 18px;
		}
	}

	// .weather__wrapper

	&__wrapper {
		overflow: hidden;
		max-width: 600px;
		width: 100%;
		border: 2px solid $borderColor;
		padding: 0px 15px;
		background: rgba(255, 255, 255, 0.2);
		box-shadow:
			0px 40px 80px rgba(0, 0, 0, 0.1),
			inset 0px 4px 2px rgba(255, 255, 255, 0.25),
			inset 4px 4px 26px rgba(255, 255, 255, 0.25);
		-webkit-backdrop-filter: blur(40px);
		backdrop-filter: blur(40px);
		border-radius: 16px;
	}

	// .weather__form

	&__form {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}

	// .weather__input

	&__input {
		background: transparent;
		color: $mainColor;
		width: 100%;
		font-size: 16px;
		padding: 10px 0;
		&::placeholder {
			color: $mainColor;
		}
	}

	// .weather__btn

	&__btn {
		background: transparent;
		width: 30px;
		height: 30px;
		transition: transform 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}

	// .weather__row

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0px -15px;
		@media (max-width: 550px) {
			flex-direction: column;
		}
	}

	// .weather__column

	&__column {
		display: flex;
		flex-direction: column;
		flex: 0 1 50%;
		padding: 20px 15px;
		border-top: 2px solid $borderColor;
		&:first-child {
			border-right: 2px solid $borderColor;
		}
		@media (max-width: 550px) {
			&:first-child {
				border-right: none;
			}
		}
	}

	// .weather__show
	&__show {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 35px;
		}
	}

	// .weather__degrees

	&__degrees {
		font-size: 70px;
		line-height: (76/70 * 100%);
	}

	// .weather__precipitation

	&__precipitation {
		font-size: 14px;
		max-width: 120px;
		max-height: 120px;
		&:not(:last-child) {
			margin-bottom: 60px;
		}
		img {
			max-width: 100%;
			object-fit: cover;
		}
		@media (max-width: 480px) {
			max-width: 120px;
			max-height: 120px;
		}
	}

	// .weather__inform

	&__inform {
		&:not(:last-child) {
			margin-bottom: 35px;
		}
	}

	// .weather__details

	&__details {
	}

	// .weather__favourites

	&__favourites {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .weather__location

	&__location {
		font-size: 24px;
		line-height: (28/24 * 100%);
	}

	// weather__favourite-btn

	&__favourite-btn {
		background: transparent;
		height: 30px;
		width: 30px;
		transition: transform 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}

	// .weather__added-locations

	&__added-locations {
		font-weight: 700;
		padding: 0px 15px 20px 15px;
		margin: 0px -15px 20px -15px;
		border-bottom: 2px solid $borderColor;
	}

	// .weather__favoutite-location

	&__favoutite-location {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px 15px;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	// .weather__location-name
	&__location-name {
		cursor: pointer;
	}

	&__remove-btn {
		cursor: pointer;
		position: relative;
		width: 24px;
		height: 24px;
		background: transparent;
		transition: transform 0.3s ease 0s;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			width: 24px;
			height: 4px;
			background: gray;
			border-radius: 2px;
			@media (max-width: 480px) {
				width: 20px;
				top: 30%;
			}
		}
		&::before {
			content: "";
			transform: rotate(45deg);
		}
		&::after {
			content: "";
			transform: rotate(-45deg);
		}
		@media (max-width: 480px) {
			width: 20px;
			height: 20px;
			padding: 0 15px;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.15);
			}
		}
	}
}

.inform-weather {
	// .inform-weather__list

	&__list {
	}

	// .inform-weather__item

	&__item {
		font-size: 18px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

.details-weather {
	// .details-weather__item

	&__item {
		padding-bottom: 10px;
		border: 1px solid $borderColor;
		padding: 15px;
		border-radius: 8px;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	// .details-weather__label

	&__label {
		font-size: 16px;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
		&_time {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .details-weather__row

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}

	// .details-weather__values

	&__values {
	}

	// .details-weather__icon

	&__icon {
		max-width: 50px;
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}
}
